<div class="top-container">
  <mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-label>Filter</mat-label>
    <input matInput [formControl]="filterFormControl">
  </mat-form-field>
  @if (authService.isAuthenticated()) {
  <button mat-raised-button (click)="onAddEdit()">Add</button>
  }
</div>

<table mat-table [dataSource]="dataSource" matSort>
  @for (column of displayedColumns; track column) {
  @if (column !== 'actions') {
  <ng-container [matColumnDef]="column">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column | titlecase }}</th>
    <td mat-cell *matCellDef="let element">{{ element[column] || '—' }}</td>
  </ng-container>
  }
  }

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="onAddEdit(element)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="onDelete(element)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="totalElements | async" [pageSizeOptions]="[10, 50, 100]" (page)="onPageChange($event)"
  showFirstLastButtons="true"></mat-paginator>
