<div class="main-content">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Welcome to the CPU Portal</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Explore a comprehensive resource for all things related to Central
        Processing Units (CPUs). Here, you will find detailed information about
        the latest CPUs, their specifications, performance benchmarks, and much
        more.
      </p>
      <img
        src="assets/images/cpu_1.jpg"
        alt="CPU Banner"
        class="banner-image"
      />
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Latest CPU Releases</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Stay up to date with the latest releases from leading CPU manufacturers
        like Intel, AMD, and ARM. Discover the newest innovations and
        performance improvements in the world of processors.
      </p>
      <img src="assets/images/cpu_2.jpg" alt="Latest CPUs" class="info-image" />
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>Performance Benchmarks</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Compare the performance of different CPUs with our comprehensive
        benchmarks. Find out which CPUs perform best for gaming, content
        creation, and other tasks.
      </p>
      <img
        src="assets/images/cpu_3.webp"
        alt="CPU Benchmarks"
        class="info-image"
      />
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>CPU Architecture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Learn about the underlying architecture of CPUs, including details about
        cores, threads, clock speeds, and more. Gain a deeper understanding of
        how processors work and what makes them tick.
      </p>
      <img
        src="assets/images/cpu_4.jpg"
        alt="CPU Architecture"
        class="info-image"
      />
    </mat-card-content>
  </mat-card>
</div>
